<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>고민 멈춰! - food</title>

    <!-- Custom fonts for this template-->
    <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="css/sb-admin-2.min.css" rel="stylesheet">

</head>

<body id="page-top">
    <div class="container" id="main">
        <div class="col-md-12 col-sm-12 col-lg-12">
          {{#question}}
          <div class="panel panel-default">
            <header class="qna-header">
              <h2 class="qna-title">{{title}}</h2>
            </header>
            <div class="content-main">
              <article class="article">
                <div class="article-header">
                  <div class="article-header-thumb">
                    <img src="https://graph.facebook.com/v2.3/100000059371774/picture"
                         class="article-author-thumb" alt="">
                  </div>
                  <div class="article-header-text">
                    <a href="/users/92/kimmunsu" class="article-author-name">{{writer.userId}}</a>
                    <a href="/questions/413" class="article-header-time" title="퍼머링크">
                      {{formattedCreateDate}}
                      <i class="icon-link"></i>
                    </a>
                  </div>
                </div>
                <div class="article-doc">{{contents}}</div>
                <div class="article-util">
                  <ul class="article-util-list">
                    <li><a class="link-modify-article" href="/questions/{{id}}/form">수정</a></li>
                    <li>
                      <form class="form-delete" action="/questions/{{id}}" method="POST">
                        <input type="hidden" name="_method" value="delete">
                        <button class="link-delete-article" type="submit">삭제</button>
                      </form>
                    </li>
                    <li><a class="link-modify-article" href="/">목록</a></li>
                  </ul>
                </div>
              </article>
      
              <div class="qna-comment">
                <div class="qna-comment-slipp">
                  <p class="qna-comment-count">
                    <strong>{{countOfAnswer}}</strong>개의 의견
                  </p>
                  <div class="qna-comment-slipp-articles">
                    {{#answers}}
                    <article class="article" id="answer-1405">
                      <div class="article-header">
                        <div class="article-header-thumb">
                          <img src="https://graph.facebook.com/v2.3/1324855987/picture"
                               class="article-author-thumb" alt="">
                        </div>
                        <div class="article-header-text">
                          <a href="/users/1/자바지기" class="article-author-name">{{writer.userId}}</a>
                          <a href="#answer-1434" class="article-header-time" title="퍼머링크">
                            {{formattedCreateDate}} </a>
                        </div>
                      </div>
                      <div class="article-doc comment-doc">
                        <p>{{contents}}</p>
                      </div>
                      <div class="article-util">
                        <ul class="article-util-list">
                          <li>
                            <a class="link-modify-article" href="/questions/413/answers/1405/form">수정</a>
                          </li>
                          <li>
                            <a class="link-delete-article"
                               href="/api/questions/{{question.id}}/answers/{{id}}">삭제</a>
                          </li>
                        </ul>
                      </div>
                    </article>
                    {{/answers}}
                  </div>
                  <form class="answer-write" method="post" action="/api/questions/{{id}}/answers">
                    <div class="form-group" style="padding: 14px;">
                      <textarea class="form-control" placeholder="Update your status"
                                name="contents"></textarea>
                    </div>
                    <input type="submit" class="btn btn-success pull-right" value="답변하기"/>
                    <div class="clearfix"/>
                  </form>
                </div>
              </div>
            </div>
          </div>
          {{/question}}
        </div>
      </div>
      
      <script type="text/template" id="answerTemplate">
        <article class="article">
          <div class="article-header">
            <div class="article-header-thumb">
              <img src="https://graph.facebook.com/v2.3/1324855987/picture" class="article-author-thumb"
                   alt="">
            </div>
            <div class="article-header-text">
              <a href="#" class="article-author-name">{0}</a>
              <div class="article-header-time">{1}</div>
            </div>
          </div>
          <div class="article-doc comment-doc">{2}</div>
          <div class="article-util">
            <ul class="article-util-list">
              <li>
                <a class="link-modify-article" href="/api/qna/updateAnswer/{3}">수정</a>
              </li>
              <li>
                <a class="link-delete-article" href="/api/questions/{3}/answers/{4}">삭제</a>
              </li>
            </ul>
          </div>
        </article>
      </script>
    <!-- Page Wrapper -->
    <div id="wrapper">


        <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/main">
                <div class="sidebar-brand-icon rotate-n-15">
                    <i class="fas fa-laugh-wink"></i>
                </div>
                <div class="sidebar-brand-text mx-3">고민 멈춰!</div>
            </a>

            <!-- Divider -->
            <hr class="sidebar-divider my-0">

            <!-- Nav Item - Dashboard -->
            <li class="nav-item active">
                <a class="nav-link" href="/main">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>메인</span></a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Heading -->
            <div class="sidebar-heading">
                카테고리
            </div>

            <!-- Nav Item -->
            <li class="nav-item">
                <a class="nav-link" href="/food">
                    <i class="fas fa-fw fa-table"></i>
                    <span>음식</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/relationship">
                    <i class="fas fa-fw fa-table"></i>
                    <span>연애</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/fashion">
                    <i class="fas fa-fw fa-table"></i>
                    <span>패션</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/free">
                    <i class="fas fa-fw fa-table"></i>
                    <span>자유</span></a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Heading -->
            <div class="sidebar-heading">
                기타
            </div>

            <!-- Nav Item -->
            <li class="nav-item">
                <a class="nav-link" href="/announcement">
                    <i class="fas fa-fw fa-wrench"></i>
                    <span>공지</span></a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider d-none d-md-block">

            <!-- Sidebar Toggler (Sidebar) -->
            <div class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle"></button>
            </div>
        </ul>
        <!-- End of Sidebar -->


        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">
                <!-- Topbar -->
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                    <!-- Sidebar Toggle (Topbar) -->
                    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                        <i class="fa fa-bars"></i>
                    </button>


                    <!-- Topbar Navbar -->
                    <ul class="navbar-nav ml-auto">

                        <!-- Nav Item - User Information -->
                        <li class="nav-item dropdown no-arrow">
                            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="mr-2 d-none d-lg-inline text-gray-600 small">사용자</span>
                                <img class="img-profile rounded-circle" src="img/undraw_profile.svg">
                            </a>
                            <!-- Dropdown - User Information -->
                            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                aria-labelledby="userDropdown">
                                <a class="dropdown-item" href="#">
                                    <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                                    프로필
                                </a>
                                <a class="dropdown-item" href="#">
                                    <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                                    프로필설정
                                </a>
                                <a class="dropdown-item" href="#">
                                    <i class="fas fa-list fa-sm fa-fw mr-2 text-gray-400"></i>
                                    나의 투표목록
                                </a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="/logout">
                                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                    로그아웃
                                </a>
                            </div>
                        </li>

                    </ul>

                </nav>
                <!-- End of Topbar -->

                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <h1 class="h3 mb-4 text-gray-800">음식</h1>

                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->


            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; 고민멈춰! 2021</span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>


    <!-- Bootstrap core JavaScript-->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="js/sb-admin-2.min.js"></script>

</body>

</html>